Repository Superalgos/Superalgos, pull requests merged in 2022-10, with the labels that each got.

#4370 UI Update - User Defined FPS
  Platform/UI/Animation.js
  Projects/Foundations/Schemas/App-Schema/space-settings.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Space/Space-Settings/space-settings.json
Labels: Education Project, Foundations

#4368 Adding ETH balances to TaskServer logic, hardening RPC calls
  Platform/Client/web3Server.js
  Projects/Network/SA/Modules/AppBootstrapingProcess.js
Labels: Foundations

#4420 Contribution: Translation FRENCH of Page 1 to 12 - Welcome tu Superalgos Tutorial
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-002-tutorial-step-pick-your-language.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-003-tutorial-welcome-to-superalgos.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-004-tutorial-step-use-chrome-or-safari.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-005-tutorial-step-thats-me-on-the-right.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-007-tutorial-step-lets-go-for-a-ride.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-008-tutorial-step-remote-access.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-010-tutorial-step-accessing-remotely.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-011-tutorial-step-about-small-hardware.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-012-tutorial-step-ready-to-rock.json
Labels: documentation, Education Project

#4424 Feature/tutorials hello world
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-007-tutorial-step-trigger-stage.json
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-011-tutorial-step-open-stage.json
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-012-tutorial-step-manage-stage.json
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-013-tutorial-step-close-stage.json
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-014-tutorial-step-thats-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-015-tutorial-step-update-data-mines.json
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-019-tutorial-step-the-end.json
Labels: documentation, Education Project

#4423 added a readme for raspberry pi installations
  README.md
  README_RaspberryPi.md
Labels: Education Project, Foundations

#4431 Contribution: Education – Updated Translation DUTCH of: "Welcome to Superalgos – Let’s go for a ride & Remote Access!"
  .gitignore
  Projects/Foundations/Schemas/Docs-Reviews/S/Superalgos/Superalgos-Project-Review/superalgos-project-review-047-superalgos-review-varletnls-review-title.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-007-tutorial-step-lets-go-for-a-ride.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-008-tutorial-step-remote-access.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-010-tutorial-step-accessing-remotely.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-012-tutorial-step-ready-to-rock.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-013-tutorial-step-binance.com-or-binance.us.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-015-tutorial-step-lets-mine-some-data.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-017-tutorial-step-how-are-things-going.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-018-tutorial-step-candles-volumes-in-action.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-019-tutorial-step-click-drag-baby.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-020-tutorial-step-time-to-take-control.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-022-tutorial-step-warp-speed-zooming.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-024-tutorial-step-need-a-quick-reminder.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-026-tutorial-step-broke-something.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-027-tutorial-step-more-workspaces.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-028-tutorial-step-ok.-back-to-work.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-029-tutorial-step-the-magic-of-data-mines.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-030-tutorial-step-at-the-core-of-data-mining.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-032-tutorial-step-time-to-stop.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-033-tutorial-step-careful-with-your-data.json
  package-lock.json
  package.json
Labels: Education Project, Foundations

#4432 Contribution: Education-Translations (Turkish)
  Projects/Foundations/Schemas/Docs-Books/community-themes.json
  Projects/Foundations/Schemas/Docs-Books/user-manual.json
  Projects/Foundations/Schemas/Docs-Topics/D/Dark/Dark-Charting-Space-Themes/dark-charting-space-themes-001-dark-charting-space-theme-example.json
  Projects/Foundations/Schemas/Docs-Topics/D/Dark/Dark-Charting-Space-Themes/dark-charting-space-themes-002-space-grey.json
  Projects/Foundations/Schemas/Docs-Topics/D/Dark/Dark-Charting-Space-Themes/dark-charting-space-themes-003-raven.json
Labels: Education Project, Foundations

#4433 Contribution: Italian translation of 24 pages SA tutorial
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Languages/docs-languages-004-docs-in-italian.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-009-tutorial-step-free-range-nodes.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-017-tutorial-step-lets-talk-backups.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-019-tutorial-step-detaching-and-attaching.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-025-tutorial-step-visualizing-references.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-026-tutorial-step-establishing-references.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-027-tutorial-step-lets-get-on-with-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-036-tutorial-step-only-share-shares.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-037-tutorial-step-working-with-workspaces.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-038-tutorial-step-your-workspace-vs-plugins.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-039-tutorial-step-the-current-workspace.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-040-tutorial-step-lets-talk-plugins.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-041-tutorial-step-how-plugins-work.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-042-tutorial-step-positioning-plugins.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-043-tutorial-step-placing-plugins.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-044-tutorial-step-non-persistence-of-changes.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-045-tutorial-step-gif-saving-plugins.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-046-tutorial-step-starting-from-a-plugin.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-047-tutorial-step-improving-a-plugin.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-050-tutorial-step-clean-workspace.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-051-tutorial-step-dealing-with-data.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-052-tutorial-step-about-other-markets.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-055-tutorial-step-lost-get-an-api-map.json
Labels: Education Project, Foundations

#4438 Contribution: Education – Translation DUTCH of: "Welcome to Superalgos – page 37 till 50”
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-037-tutorial-step-talkin-time-travel.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-038-tutorial-step-bending-time.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-039-tutorial-step-size-matters.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-040-tutorial-step-putting-things-in-order.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-041-tutorial-step-get-in-the-wormhole.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-042-tutorial-step-the-elegant-way..json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-043-tutorial-step-moving-in-wonderland.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-044-tutorial-step-welcome-charts-scales-auto-locked.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-045-tutorial-step-unlocking-time.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-046-tutorial-step-welcome-charts-scales-unlock-time-scale.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-047-tutorial-step-scaling-time.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-048-tutorial-step-playing-with-the-rate-scale.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-049-tutorial-step-welcome-charts-scales-unlock-rate-scale.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-050-tutorial-step-time-frames-salad.json
Labels: Education Project, Foundations

#4436 Contribution: Education-Translating-Turkish / Charting Space Theme Competition - Dark and Light Themes
  Projects/Foundations/PNGs/Docs/Charts/dark-theme-Alptug-Dark-EAlptug2.png
  Projects/Foundations/PNGs/Docs/Charts/dark-theme-Alptug-Light-EAlptug.png
  Projects/Foundations/PNGs/Docs/Charts/light-theme-Alptug-Light-EAlptug.png
  Projects/Foundations/PNGs/Docs/Charts/light-theme-Alptug-Light-EAlptug2.png
  Projects/Foundations/Schemas/Docs-Topics/D/Dark/Dark-Charting-Space-Themes/dark-charting-space-themes-005-alptug-dark.json
  Projects/Foundations/Schemas/Docs-Topics/L/Light/Light-Charting-Space-Themes/light-charting-space-themes-004-alptug-light.json
  Projects/Governance/Schemas/Docs-Nodes/T/Task/Task-Server-App-Reference/task-server-app-reference.json
  Projects/Social-Trading/Schemas/Docs-Nodes/S/Social/Social-Trading-Bot/social-trading-bot.json
  Projects/TensorFlow/Schemas/Docs-Nodes/V/Verbose/Verbose/verbose.json
  Projects/TensorFlow/Schemas/Docs-Nodes/W/WASM/WASM-Backend/wasm-backend.json
  Projects/TensorFlow/Schemas/Docs-Nodes/W/WebGL/WebGL-Backend/webgl-backend.json
  Projects/TensorFlow/Schemas/Docs-Nodes/W/Weights/Weights/weights.json
  Projects/User-Apps/Schemas/Docs-Nodes/D/Desktop/Desktop-Apps/desktop-apps.json
  Projects/User-Apps/Schemas/Docs-Nodes/M/Mobile/Mobile-Apps/mobile-apps.json
  Projects/User-Apps/Schemas/Docs-Nodes/S/Server/Server-Apps/server-apps.json
  Projects/User-Apps/Schemas/Docs-Nodes/T/Task/Task-Server-App-Reference/task-server-app-reference.json
  Projects/User-Apps/Schemas/Docs-Nodes/T/Task/Task-Server-App/task-server-app.json
  Projects/User-Apps/Schemas/Docs-Nodes/U/User/User-Apps/user-apps.json
Labels: Education Project, Foundations

#4439 Contribution: Translate to Review
  Projects/Foundations/Schemas/Docs-Reviews/S/Superalgos/Superalgos-Project-Review/superalgos-project-review-002-superalgos-review-a-great-project-with-an-even-greater-potential.json
Labels: Education Project, Foundations

#4452 Charting space theme update - new features
  Projects/Foundations/Bots-Plotters-Code/Candles/plotters/Plotters-Candles-Volumes/Candles.js
  Projects/Foundations/Schemas/Docs-Nodes/S/Space/Space-Style/space-style.json
Labels: Education Project, Foundations

#4449 Contribution: This is my contribution to Superalgos
  Projects/Foundations/Schemas/Docs-Concepts/L/List/List-of-Plugin-Workspaces-and-Tutorials/list-of-plugin-workspaces-and-tutorials.json
  Projects/Foundations/Schemas/Docs-Concepts/M/Menu/Menu-Item/menu-item.json
  Projects/Foundations/Schemas/Docs-Concepts/M/Multi-Time-Frame-Daily/Multi-Time-Frame-Daily/multi-time-frame-daily.json
  Projects/Foundations/Schemas/Docs-Concepts/M/Multi-Time-Frame-Market/Multi-Time-Frame-Market/multi-time-frame-market.json
  Projects/Foundations/Schemas/Docs-Concepts/M/Multi-Time-Frame/Multi-Time-Frame/multi-time-frame.json
  Projects/Foundations/Schemas/Docs-Concepts/N/Node/Node-JS-Javsacript/node-js-javsacript.json
Labels: Education Project, Foundations

#4454 Contribution: Education – Translation DUTCH of: "Welcome to Superalgos – page 65 till 70”
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-051-tutorial-step-welcome-charts-scales-time-frame-scale.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-052-tutorial-step-scales-best-kept-secrets.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-053-tutorial-step-switching-gears..json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-054-tutorial-step-welcome-charts-layer-managers-scroll.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-055-tutorial-step-layers-on-top-of-layers.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-056-tutorial-step-welcome-charts-layer-on.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-057-tutorial-step-the-hard-data.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-058-tutorial-step-welcome-charts-layer-panels.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-059-tutorial-step-back-in-time.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-060-tutorial-step-visual-scripting-on-steroids.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-061-tutorial-step-plotters-magic.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-062-tutorial-step-lets-do-some-testing.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-063-tutorial-step-aim-high-trade-big.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-064-tutorial-step-machines-learn-too.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-065-tutorial-step-civil-works-ahead.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-066-tutorial-step-enough-digressing.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-067-tutorial-step-what-when-how.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-068-tutorial-step-ready.-set.-go.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-069-tutorial-step-getting-to-the-fun-bits.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-070-tutorial-step-what-is-it-we-are-testing.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-071-tutorial-step-green-silver-bullets.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-072-tutorial-step-sell-it-quick.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-073-tutorial-step-shall-we-dig-deeper.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-074-tutorial-step-whos-keeping-score.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-075-tutorial-step-the-power-of-data-mining.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-076-tutorial-step-find-the-logic-challenge.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-077-tutorial-step-heres-how-it-works..json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-078-tutorial-step-come-meet-someone.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-079-tutorial-step-formulations..json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-080-tutorial-step-the-seller.json
Labels: Education Project, Foundations

#4459 Contribution: Education-Translations (Turkish)
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Angle-to-Parent-Node-to-180-Degrees/set-angle-to-parent-node-to-180-degrees.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Angle-to-Parent-Node-to-360-Degrees/set-angle-to-parent-node-to-360-degrees.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Angle-to-Parent-Node-to-45-Degrees/set-angle-to-parent-node-to-45-degrees.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Angle-to-Parent-Node-to-90-Degrees/set-angle-to-parent-node-to-90-degrees.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Distance-to-Parent-Node-to-One-Fourth/set-distance-to-parent-node-to-one-fourth.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Distance-to-Parent-Node-to-One-Half/set-distance-to-parent-node-to-one-half.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Distance-to-Parent-Node-to-One-and-a-Half/set-distance-to-parent-node-to-one-and-a-half.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Distance-to-Parent-Node-to-One/set-distance-to-parent-node-to-one.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Distance-to-Parent-Node-to-Two/set-distance-to-parent-node-to-two.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Node-Arrangement-to-Concave/set-node-arrangement-to-concave.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Node-Arrangement-to-Convex/set-node-arrangement-to-convex.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Node-Arrangement-to-Horizontal-Bottom/set-node-arrangement-to-horizontal-bottom.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Node-Arrangement-to-Horizontal-Top/set-node-arrangement-to-horizontal-top.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Node-Arrangement-to-Vertical-Left/set-node-arrangement-to-vertical-left.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Set/Set-Node-Arrangement-to-Vertical-Right/set-node-arrangement-to-vertical-right.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Share/Share-Entity/share-entity.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Single-File/Single-File/single-file.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Superalgos/Superalgos-Marketplace/superalgos-marketplace.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Superalgos/Superalgos-Medium-Blog/superalgos-medium-blog.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Superalgos/Superalgos-Network/superalgos-network.json
  Projects/Foundations/Schemas/Docs-Concepts/T/TS/TS/ts.json
  Projects/Foundations/Schemas/Docs-Concepts/T/Task/Task-Server/task-server.json
  Projects/Foundations/Schemas/Docs-Concepts/T/Trading/Trading-Session/trading-session.json
  Projects/Foundations/Schemas/Docs-Concepts/U/UI/UI-Global-Object/ui-global-object.json
  Projects/Foundations/Schemas/Docs-Concepts/U/Unfreeze/Unfreeze-Structure-of-Nodes/unfreeze-structure-of-nodes.json
  Projects/Foundations/Schemas/Docs-Concepts/U/Unpinned/Unpinned-Node/unpinned-node.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Spaces/Spaces/spaces.json
Labels: Education Project, Foundations

#4464 Contribution:
  Projects/Foundations/PNGs/Docs/Charts/dark-theme-nox.png
  Projects/Foundations/PNGs/Docs/Charts/light-theme-eos.png
  Projects/Foundations/Schemas/Docs-Topics/D/Dark/Dark-Charting-Space-Themes/dark-charting-space-themes-006-nox.json
  Projects/Foundations/Schemas/Docs-Topics/L/Light/Light-Charting-Space-Themes/light-charting-space-themes-005-eos.json
Labels: Foundations

#4450 P2P Network: Stability Improvements
  Network/NetwokApp.js
  Projects/Bitcoin-Factory/NT/Modules/ClientInterface.js
  Projects/Bitcoin-Factory/TS/Bot-Modules/Test-Server/TestServer.js
  Projects/Network/NT/Modules/SocketInterfaces.js
  Projects/Network/NT/Modules/WebSocketsInterface.js
  Projects/Network/SA/Modules/P2PNetworkNodesConnectedTo.js
  Projects/Network/SA/Modules/P2PNetworkReachableNodes.js
  Projects/Network/SA/Modules/WebSocketsNetworkClient.js
Labels: Foundations

#4466 Contribution: - Translation FRENCH of: Tutorial Welcome to Superalgos - Step 12 to 23
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-013-tutorial-step-binance.com-or-binance.us.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-014-tutorial-step-welcome-binanceus.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-015-tutorial-step-lets-mine-some-data.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-016-tutorial-step-welcome-start-data-mining-console.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-017-tutorial-step-how-are-things-going.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-018-tutorial-step-candles-volumes-in-action.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-019-tutorial-step-click-drag-baby.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-020-tutorial-step-time-to-take-control.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-021-tutorial-step-spacetime-teleportation.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-022-tutorial-step-warp-speed-zooming.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-023-tutorial-step-a-bit-about-tutorials..json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-024-tutorial-step-need-a-quick-reminder.json
Labels: Education Project, Foundations
