Repository Superalgos/Superalgos, pull requests merged in 2022-03, with the labels that each got.

#3913 Education: Restoring lost delete icon
  Projects/Visual-Scripting/Icons/delete-entity.png
Labels: documentation, Education Project

#3933 Elder's force index docs
  Projects/Foundations/PNGs/Docs/indicators/quantum-EFI-on-the-chart.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-EFI-params.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-RWI-on-the-chart.png
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-009-Elders-Force-Index-indicator.json
Labels: documentation

#3932 Education-Translations (Turkish) - Trading Signal Overview
  Projects/Governance/Schemas/Docs-Topics/A/App/App-Commands/app-commands-001-app-prs-command.json
  Projects/Governance/Schemas/Docs-Topics/A/App/App-Commands/app-commands-002-app-pay-command.json
  Projects/Governance/Schemas/Docs-Topics/E/Exchange/Exchange-Listing-Requirements-Research/exchange-listing-requirements-research-001-listing-requirements-research-task.json
  Projects/Governance/Schemas/Docs-Topics/E/Exchange/Exchange-Listing-Requirements-Research/exchange-listing-requirements-research-002-probit-global-listing-requirements.json
  Projects/Governance/Schemas/Docs-Topics/E/Exchange/Exchange-Listing-Requirements-Research/exchange-listing-requirements-research-003-lbank-listing-requirements.json
  Projects/Governance/Schemas/Docs-Topics/E/Exchange/Exchange-Listing-Requirements-Research/exchange-listing-requirements-research-004-bittrex-global-listing-requirements.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Errors/gov-commands-errors-001-gov-error-pull-requests-not-processed.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Errors/gov-commands-errors-002-gov-error-github-credentials-missing.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Errors/gov-commands-errors-003-gov-error-pay-failed.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Messages/gov-commands-messages-001-gov-message-pull-requests-processed.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Messages/gov-commands-messages-002-gov-message-processing-pull-requests.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Messages/gov-commands-messages-003-gov-message-paying-contributors.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Messages/gov-commands-messages-004-gov-message-all-payments-were-sent.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Messages/gov-commands-messages-005-gov-message-not-all-payments-were-sent.json
  Projects/Governance/Schemas/Docs-Topics/G/Gov/Gov-Commands-Messages/gov-commands-messages-007-gov-message-starting-automated-user-profile-contribution.json
  Projects/Governance/Schemas/Docs-Topics/G/Governance/Governance-Definitions/governance-definitions-004-features-hierarchy.json
  Projects/Governance/Schemas/Docs-Topics/G/Governance/Governance-Definitions/governance-definitions-005-assets-hierarchy.json
  Projects/Governance/Schemas/Docs-Topics/G/Governance/Governance-Flow/governance-flow-001-the-superalgos-meritocracy.json
  Projects/Governance/Schemas/Docs-Topics/G/Governance/Governance-Flow/governance-flow-002-token-rewards-and-weight-power-flow.json
  Projects/Governance/Schemas/Docs-Topics/G/Governance/Governance-Flow/governance-flow-003-how-claims-are-resolved.json
  Projects/Governance/Schemas/Docs-Topics/G/Governance/Governance-Workspaces/governance-workspaces-002-token-distribution-superalgos-governance-workspace.json
  Projects/Governance/Schemas/Docs-Topics/G/Governance/Governance-Workspaces/governance-workspaces-003-other-governance-workspaces.json
  Projects/Governance/Schemas/Docs-Topics/S/Superalgos/Superalgos-Exchanges/superalgos-exchanges-001-exchange-asset-bittrex.json
  Projects/Governance/Schemas/Docs-Topics/S/Superalgos/Superalgos-Exchanges/superalgos-exchanges-002-exchange-asset-lbank.json
  Projects/Governance/Schemas/Docs-Topics/S/Superalgos/Superalgos-Exchanges/superalgos-exchanges-003-exchange-asset-probit.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-002-user-profile-hierarchy.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-003-onboarding-programs-intro.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-004-the-airdrop-program.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-005-the-github-program.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-006-community-building-programs-intro.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-007-the-referral-program.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-008-the-support-program.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-009-the-mentorship-program.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-010-votes-and-claims-programs-intro.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-011-the-claims-program.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-012-the-voting-program.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-013-financial-programs-intro.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-014-the-staking-program.json
  Projects/Governance/Schemas/Docs-Topics/U/User/User-Profile/user-profile-015-the-delegation-program.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-001-trading-signal-overview.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-002-basic-signal-architecture.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-003-governance-profile-definitions.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-004-signing-accounts.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-005-social-trading-bots.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-006-user-storage.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-007-trading-signal-integration-within-trading-system.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-008-keeping-the-bots-of-provider-and-recipient-in-sync.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-011-trading-signal-integration-within-trading-bot-tasks.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-012-connecting-to-a-network-node.json
Labels: documentation, Education Project

#3939 Contribution: Education - Translation GERMAN of: "Debugging Your Indicator - Found Something!"
  Projects/Foundations/Schemas/Docs-Topics/D/Debugging/Debugging-Your-Indicator/debugging-your-indicator-001-debugging-download-and-install-visual-studio-code.json
  Projects/Foundations/Schemas/Docs-Topics/D/Debugging/Debugging-Your-Indicator/debugging-your-indicator-002-debugging-setting-up-your-ide.json
  Projects/Foundations/Schemas/Docs-Topics/D/Debugging/Debugging-Your-Indicator/debugging-your-indicator-003-debugging-setting-a-breakpoint.json
  Projects/Foundations/Schemas/Docs-Topics/D/Debugging/Debugging-Your-Indicator/debugging-your-indicator-006-debugging-found-something.json
Labels: documentation, Education Project

#3937 Education-Translations (Turkish) - Divergences Data Mine
  Projects/Foundations/Schemas/Docs-Topics/D/Divergences/Divergences-Data-Mine-Data-Mine/divergences-data-mine-data-mine-002-rsi-divergence.json
  Projects/Foundations/Schemas/Docs-Topics/D/Divergences/Divergences-Data-Mine/Divergences-data-mine-001-Divergences-by-@quantum8.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Process-Errors/ts-process-errors-001-ts-process-error-unexpected-error.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Task-Errors/ts-task-errors-001-ts-task-error-unexpected-error.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-001-ts-trading-session-error-parameters-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-002-ts-trading-session-error-invalid-initial-datetime-property-value.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-003-ts-trading-session-error-invalid-final-datetime-property-value.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-004-ts-trading-session-error-time-frame-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-005-ts-trading-session-error-label-property-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-006-ts-trading-session-error-invalid-label-property-value.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-007-ts-trading-session-error-session-base-asset-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-008-ts-trading-session-error-session-quoted-asset-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-009-ts-trading-session-error-initial-balance-property-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-010-ts-trading-session-error-key-reference-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-011-ts-trading-session-error-exchange-account-key-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-012-ts-trading-session-error-codename-property-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-Trading-Session-Errors/ts-trading-session-errors-013-ts-trading-session-error-secret-property-missing.json
  Projects/Foundations/Schemas/Docs-Topics/U/UI/UI-Websockets-Errors/ui-websockets-errors-001-ui-websockets-error-bad-configuration.json
  Projects/Foundations/Schemas/Docs-Topics/U/User/User-Examples-for-Stop-Loss/user-examples-for-stop-loss-001-trailing-stop-loss-percentage-of-rate.json
  Projects/Foundations/Schemas/Docs-Topics/U/User/User-Examples-for-Stop-Loss/user-examples-for-stop-loss-002-trailing-stop-loss-risk-of-total-quoted-balance.json
  Projects/Foundations/Schemas/Docs-Topics/U/User/User-Examples-for-Stop-Loss/user-examples-for-stop-loss-003-trailing-stop-loss-initial-stop-loss-risk-and-targets-combo.json
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-001-zeus-by-@9808us.json
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-002-directional-movement-index-dmi-zeus-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-003-donchian-channel-zeus-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-004-ichimoku-cloud-zeus-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-005-wave-trend-zeus-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-006-super-trend-zeus-indicator.json
  Projects/Governance/Schemas/Docs-Topics/B/Beta/Beta-10-Claims/beta-10-claims-001-beta-10-claim-api-maps.json
Labels: documentation, Education Project

#3942 Education-Translations (Turkish) - TS LF Trading Bot Warnings
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-001-ts-lf-trading-bot-warning-calculating-actual-size-recalculated.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-002-ts-lf-trading-bot-warning-calculating-size-placed-recalculated.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-003-ts-lf-trading-bot-warning-simulating-actual-size-recalculated.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-004-ts-lf-trading-bot-warning-simulating-size-placed-recalculated.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-005-ts-lf-trading-bot-warning-simulating-slippage-subtracted.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-006-ts-lf-trading-bot-warning-simulating-slippage-added.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-007-ts-lf-trading-bot-warning-simulating-actual-rate-based-on-formula.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-008-ts-lf-trading-bot-warning-simulating-actual-rate-too-high.json
Labels: documentation, Education Project

#3935 Education - Translation - Ru - Foundations - Topics
  Projects/Foundations/Schemas/Docs-Topics/A/Alligator/Alligator-Data-Mine/alligator-data-mine-001-alligator-by-@blaaswe.json
  Projects/Foundations/Schemas/Docs-Topics/D/Delta/Delta-Data-Mine/delta-data-mine-001-delta-by-frysee.json
  Projects/Foundations/Schemas/Docs-Topics/D/Delta/Delta-Data-Mine/delta-data-mine-002-money-flow-index-mfi-delta-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/D/Delta/Delta-Data-Mine/delta-data-mine-003-relative-strength-index-wilders-method-delta-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-001-quantum-by-@quantum8.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-002-keltner-channel-quantum-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-003-MVWAP-quantum-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-004-PSAR-quantum-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-005-BeepBoop-quantum-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-006-ChopIndex-quantum-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-007-Choppy-quantum-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-008-WilliamsFractal-quantum-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-009-heikin-ashi-relative-strength-indicator-harsi.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-001-community-effort-to-test-exchanges.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-002-binance-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-003-binancefutures-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-004-ascendex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-004-ftx-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-005-binance-us-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-006-bitfinex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-007-kucoin-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-008-luno-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-009-kraken-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-010-bittrex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-011-bitstamp-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-012-coinbasepro-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-015-gate.io-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-016-latoken-test-status.json
Labels: documentation, Education Project

#3946 Education-Translations (Turkish) - TS LF Trading Bot Warnings
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Infos/ts-lf-trading-bot-infos-001-ts-lf-trading-bot-info-candle-and-cycle.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Infos/ts-lf-trading-bot-infos-002-ts-lf-trading-bot-info-order-skipped.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Infos/ts-lf-trading-bot-infos-003-ts-lf-trading-bot-info-order-closed.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-009-ts-lf-trading-bot-warning-simulating-actual-rate-too-low.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-010-ts-lf-trading-bot-warning-skipping-cancel-order-event.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-011-ts-lf-trading-bot-warning-order-size-value-zero-or-negative.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-012-ts-lf-trading-bot-warning-order-could-not-be-opened.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-013-ts-lf-trading-bot-warning-order-size-shrunk.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-014-ts-lf-trading-bot-warning-possible-negative-balance.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-015-ts-lf-trading-bot-warning-order-not-found-at-the-exchange.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Warnings/ts-lf-trading-bot-warnings-015-ts-lf-trading-bot-warning-order-status-not-sync-with-exchange.json
Labels: documentation, Education Project

#3954 Education - Translation - Ru - Update outdated translations
  Projects/Education/Schemas/Docs-Nodes/D/Docs/Docs-Space-Style/docs-space-style.json
  Projects/Foundations/Schemas/Docs-Concepts/R/Reusable/Reusable-Documenting-Snippets/reusable-documenting-snippets.json
  Projects/Foundations/Schemas/Docs-Concepts/R/Reusable/Reusable-Snippets/reusable-snippets.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Condition/Condition/condition.json
  Projects/Foundations/Schemas/Docs-Nodes/L/LAN/LAN-Network-Node/lan-network-node.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Space/Space-Settings/space-settings.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trading/Trading-Bot-Instance/trading-bot-instance.json
  Projects/Foundations/Schemas/Docs-Topics/C/Contributing/Contributing-to-Superalgos/contributing-to-superalgos-004-how-to-contribute-to-the-docs.json
  Projects/Foundations/Schemas/Docs-Topics/C/Contributing/Contributing-to-Superalgos/contributing-to-superalgos-006-how-to-contribute-tutorials.json
  Projects/Foundations/Schemas/Docs-Topics/D/Data/Data-Mining/data-mining-020-data-mining-indicator-bots-coding-the-indicators-logic.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Basics/docs-basics-001-docs-intro.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Basics/docs-basics-003-docs-page-category.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Basics/docs-basics-006-docs-topic-name.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Basics/docs-basics-010-docs-node-page.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Basics/docs-basics-013-docs-book-page.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Paragraph-Styles/docs-paragraph-styles-022-docs-block-style.json
  Projects/Foundations/Schemas/Docs-Topics/R/Repository/Repository-Branches/repository-branches-004-plugins-docs.json
  Projects/Network/Schemas/Docs-Nodes/P/P2P/P2P-Network-Nodes/p2p-network-nodes.json
  Projects/Network/Schemas/Docs-Topics/T/Trading/Trading-Signal-Overview/trading-signal-overview-002-basic-signal-architecture.json
  Projects/Trading-Signals/Schemas/Docs-Nodes/S/Signal/Signal-Context-Formula/signal-context-formula.json
Labels: documentation, Education Project

#3949 Contribution: Tested Exchanges Repagination - MUST CHECK
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-003-ascendex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-003-binancefutures-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-013-ascendex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-013-okex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-014-gate.io-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-015-latoken-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-017-huobi-global-test-status-.json
Labels: Education Project

#3957 Added docs for stochastic divergence
  Projects/Foundations/PNGs/Docs/indicators/Divergences-Stoch-1.png
  Projects/Foundations/Schemas/Docs-Nodes/P/Plotter/Plotter-Module/plotter-module.json
  Projects/Foundations/Schemas/Docs-Topics/D/Divergences/Divergences-Data-Mine/Divergences-data-mine-001-Divergences-by-@quantum8.json
  Projects/Foundations/Schemas/Docs-Topics/D/Divergences/Divergences-Data-Mine/Divergences-data-mine-010-Stochastic-Divergence.json
  Projects/Foundations/Schemas/Docs-Topics/T/Turtles/Turtles-Data-Mine/turtles-data-mine-001-turtles.json
Labels: Education Project

#3956 Trading Bot Layers Tutorial Revision...
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-001-trading-bot-layers-tutorial.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-003-tutorial-step-load-a-fresh-workspace.json
Labels: Education Project

#3943 Sync readme with docker-compose file on GitHub
  Docker/README.md
Labels: SysAdmin

#3959 Contribution: My Superalgos Review
  Projects/Foundations/Schemas/Docs-Reviews/S/Superalgos/Superalgos-Project-Review/superalgos-project-review-050-superalgos-review-tutorial-testing.json
  package-lock.json
Labels: Education Project, SysAdmin

#3965 Education-Translations (Turkish) - TS LF Trading Bot Errors
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-001-ts-lf-trading-bot-error-evaluating-condition-error.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-002-ts-lf-trading-bot-error-evaluating-formula-error.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-003-ts-lf-trading-bot-error-formula-value-not-a-number.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-004-ts-lf-trading-bot-error-reference-to-phase-node-missing.json
Labels: documentation, Education Project

#3970 Education-Translations (Turkish) - TS LF Trading Bot Errors
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-010-ts-lf-trading-bot-error-target-rate-node-value-undefined.json
Labels: documentation, Education Project

#3968 Contribution: This is my contribution to Superalgos
  Projects/Data-Mining/TS/Bot-Modules/Sensor-Bot/Exchange-Raw-Data/HistoricOHLCVs.js
Labels: Data Mining

#3974 Contribution: Fixed Binance config
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-002-binance-test-status.json
Labels: documentation, Education Project

#3981 Contribution: Education - Translation GERMAN of: "Integrations - Webhook Notifications"
  Projects/Foundations/Schemas/Docs-Topics/I/Integrations/Integrations/integrations-002-webhook-notifications.json
Labels: documentation, Education Project

#3944 Update local volumes name to match readme
  Docker/docker-compose.yml
Labels: SysAdmin
