Repository Superalgos/Superalgos, pull requests merged in 2022-04, with the labels that each got.

#3984 Contribution: Luis definition of dynamic indicators
  Projects/Foundations/Schemas/Docs-Nodes/D/Dynamic/Dynamic-Indicators/dynamic-indicators.json
Labels: documentation, Education Project

#3993 Added docs for KAMA indicator
  Projects/Foundations/PNGs/Docs/indicators/Trends-KAMA-params.png
  Projects/Foundations/PNGs/Docs/indicators/Trends-KAMA.png
  Projects/Foundations/Schemas/Docs-Books/community-data-mines.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-013-TRIX.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trends/Trends-Data-Mine/Trends-data-mine-001-Trends-by-@quantum8.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trends/Trends-Data-Mine/trends-data-mine-002-chandelier-exit.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trends/Trends-Data-Mine/trends-data-mine-004-kama.json
Labels: documentation, Education Project

#4000 Education-Translations (Turkish) - TS LF Trading Bot Errors
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-005-ts-lf-trading-bot-error-maximum-balance-reached.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-006-ts-lf-trading-bot-error-minimum-balance-reached.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-011-ts-lf-trading-bot-error-target-rate-node-value-not-a-number.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-012-ts-lf-trading-bot-error-only-one-target-size-allowed.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-013-ts-lf-trading-bot-error-target-size-value-undefined.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-014-ts-lf-trading-bot-error-target-size-value-zero.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-015-ts-lf-trading-bot-error-order-reference-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-016-ts-lf-trading-bot-error-status-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-017-ts-lf-trading-bot-error-percentage-of-algorithm-size-property-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-018-ts-lf-trading-bot-error-serial-number-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-019-ts-lf-trading-bot-error-identifier-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-020-ts-lf-trading-bot-error-exchange-id-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-021-ts-lf-trading-bot-error-begin-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-022-ts-lf-trading-bot-error-end-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-023-ts-lf-trading-bot-error-rate-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-024-ts-lf-trading-bot-error-algorithm-name-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-025-ts-lf-trading-bot-error-order-counters-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-026-ts-lf-trading-bot-error-periods-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-027-ts-lf-trading-bot-error-order-statistics-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-028-ts-lf-trading-bot-error-days-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-029-ts-lf-trading-bot-error-percentage-filled-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-030-ts-lf-trading-bot-error-actual-rate-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-031-ts-lf-trading-bot-error-order-base-asset-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-032-ts-lf-trading-bot-error-size-node-missing.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-LF-Trading-Bot-Errors/ts-lf-trading-bot-errors-033-ts-lf-trading-bot-error-size-filled-node-missing.json
Labels: documentation, Education Project

#3986 Contribution: httpInterface.js - Adding support for German language git response
  Platform/Client/httpInterface.js
Labels: Foundations

#4008 Contribution: Education - Translation into german of: "Chapter VII - Pluvtech Data Mine"
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-001-pluvtech-by-@pluvtech.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-002-fisher-transform.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-003-waddah-attar.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-004-macd-pluvtechs-version.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-005-hull-moving-average.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-006-exponential-moving-average.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-007-mcginley-moving-average.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-008-simple-moving-average.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-009-weighted-moving-average.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-010-volume-weighted-moving-average.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-011-fibonacci-bollinger-bands.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-012-tpsl-bands.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-014-donchian-tenkan.json
  Projects/Foundations/Schemas/Docs-Topics/P/Pluvtech/Pluvtech-Data-Mine/pluvtech-data-mine-015-percentages.json
Labels: documentation, Education Project

#4015 Run the Docker Container Ubuntu directory changed
  Bitcoin-Factory/README.md
Labels: Foundations

#4020 Education-Translations (Turkish) - Trading Logic
  Projects/Foundations/Schemas/Docs-Topics/S/Superalgos/Superalgos-Community-Task-Forces/superalgos-community-task-forces-001-community-task-forces.json
  Projects/Foundations/Schemas/Docs-Topics/S/Superalgos/Superalgos-Community-Task-Forces/superalgos-community-task-forces-002-token-task-force.json
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-001-general-notions-on-documenting.json
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-002-documenting-new-projects.json
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-003-definition-pages.json
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-004-iterating-on-definitions.json
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-005-planning-topics-and-books.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Farms/trading-farms-001-trading-farms-fundamental-concepts.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Farms/trading-farms-002-trading-farms-set-up-a-network-of-nodes.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Farms/trading-farms-003-trading-farms-operating-a-trading-farm.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Logic/trading-logic-001-situations-conditions-and-formulas.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Logic/trading-logic-002-syntax-overview.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Logic/trading-logic-003-accessing-runtime-data.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Logic/trading-logic-004-accessing-trading-system-definitions-and-session-parameters.json
Labels: documentation, Education Project

#4018 Governance: Liquidity Program broken down to exchanges
  Projects/Governance/Schemas/App-Schema/liquidity-program.json
  Projects/Governance/Schemas/Docs-Nodes/L/Liquidity/Liquidity-Program/liquidity-program.json
  Projects/Governance/Schemas/Docs-Nodes/L/Liquidity/Liquidity-Programs/liquidity-programs.json
  Projects/Governance/UI/Function-Libraries/DistributionProcess.js
  Projects/Governance/UI/Function-Libraries/LiquidityProgram.js
  Projects/Governance/UI/Function-Libraries/TokenMining.js
  Projects/Governance/UI/Spaces/Reports-Space/Liquidity.js
  Projects/Governance/UI/Spaces/User-Profile-Space/UserProfile.js
  Projects/Governance/UI/Utilities/Validations.js
Labels: Governance

#4021 Education-Translations (Turkish) - Tested Exchanges
  Projects/Foundations/Schemas/Docs-Topics/M/Messari/Messari-API-Map-and-Mine/messari-api-map-and-mine-001-messari-api-map-and-mine.json
  Projects/Foundations/Schemas/Docs-Topics/M/Messari/Messari-API-Map-and-Mine/messari-api-map-and-mine-002-messari-api-map.json
  Projects/Foundations/Schemas/Docs-Topics/M/Messari/Messari-API-Map-and-Mine/messari-api-map-and-mine-003-messari-api-mine.json
  Projects/Foundations/Schemas/Docs-Topics/M/Messari/Messari-API-Map-and-Mine/messari-api-map-and-mine-004-all-time-high-messari-api-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/P/Productivity/Productivity-Tools/productivity-tools-004-screen-capture-and-sharing.json
  Projects/Foundations/Schemas/Docs-Topics/R/Repository/Repository-Branches/repository-branches-001-introduction.json
  Projects/Foundations/Schemas/Docs-Topics/R/Repository/Repository-Branches/repository-branches-002-master.json
  Projects/Foundations/Schemas/Docs-Topics/R/Repository/Repository-Branches/repository-branches-004-plugins-docs.json
  Projects/Foundations/Schemas/Docs-Topics/S/Sparta/Sparta-Data-Mine/sparta-data-mine-001-sparta-by-@julian-molina.json
  Projects/Foundations/Schemas/Docs-Topics/S/Sparta/Sparta-Data-Mine/sparta-data-mine-002-simple-moving-average-sma-sparta-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/S/Sparta/Sparta-Data-Mine/sparta-data-mine-003-exponential-moving-average-ema-sparta-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/S/Sparta/Sparta-Data-Mine/sparta-data-mine-004-relative-strength-index-rsi-sparta-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/S/Sparta/Sparta-Data-Mine/sparta-data-mine-005-moving-average-convergence-divergence-macd-sparta-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/S/Superalgos/Superalgos-Chat-Groups/superalgos-chat-groups-007-collaborations-group.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-002-binance-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-003-ascendex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-004-ftx-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-005-binance-us-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-006-bitfinex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-007-kucoin-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-008-luno-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-009-kraken-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-010-bittrex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-011-bitstamp-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-012-coinbasepro-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-013-okex-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-014-gate.io-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-015-latoken-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Tested/Tested-Exchanges/tested-exchanges-016-binance-futures-usds-m-coin-m-test-status.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-001-trading-engine-hierarchy.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-002-monitoring-runtime-data.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-003-trading-bot-output.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-004-temporal-context-current-and-last.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-005-conceptual-context-episode-strategy-position-strategy-stages.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-007-counters.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-008-statistics.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-009-distance-to-trading-events.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-010-balances.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-011-common-metrics-hits-fails-hit-ratio-profit-loss-roi-annualized-rate-of-return.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-012-accounts-specific-to-the-open-and-close-stages.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-013-accounts-specific-to-orders.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-014-market-data.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-015-identity-and-status.json
Labels: documentation, Education Project

#4051 German translation Foundation > Topic > Community Trading Systems
  Projects/Foundations/Schemas/Docs-Topics/C/Community/Community-Trading-Systems/community-trading-systems-001-btc-usdt-weak-hands-buster-whb.json
  Projects/Foundations/Schemas/Docs-Topics/C/Community/Community-Trading-Systems/community-trading-systems-002-btc-usdt-bb-top-bounce-bbtb.json
Labels: documentation, Education Project

#4048 Fix typos in docs
  Projects/Foundations/Schemas/Docs-Nodes/C/Crypto/Crypto-Exchange/crypto-exchange.json
Labels: documentation, Education Project

#4054 Indicator docs
  Projects/Foundations/PNGs/Docs/indicators/Trends-ZLSMA-params.png
  Projects/Foundations/PNGs/Docs/indicators/Trends-ZLSMA.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-adl-on-the-chart.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-adl-params.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-vader-params.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-vader.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-worden-stoch-params.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-worden-stoch.png
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-014-worden-stochastic-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-015-accumulation-distribution-line-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-016-vader-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trends/Trends-Data-Mine/Trends-data-mine-001-Trends-by-@quantum8.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trends/Trends-Data-Mine/trends-data-mine-005-zlsma.json
Labels: documentation, Education Project
