Repository Superalgos/Superalgos, pull requests merged in 2022-06, with the labels that each got.

#4161 Icon update and SVG sources added
  Projects/Algorithmic-Trading/Icons-SVG-Sources/algorithmic-trading-project.svg
  Projects/Algorithmic-Trading/Icons/algorithmic-trading-project.png
  Projects/Data-Mining/Icons-SVG-Sources/Study-bot.svg
  Projects/Data-Mining/Icons/Study-bot.png
  Projects/Governance/Icons-SVG-Sources/bitcoin-factory-forecasts.svg
  Projects/Governance/Icons-SVG-Sources/forecast-client-instance.svg
  Projects/Governance/Icons-SVG-Sources/test-client-instance.svg
  Projects/Governance/Icons/bitcoin-factory-forecasts.png
  Projects/Governance/Icons/forecast-client-instance.png
  Projects/Governance/Icons/test-client-instance.png
  Projects/Social-Bots/Icons-SVG-Sources/social-bots.svg
  Projects/Social-Bots/Icons/social-bots.png
Labels: Foundations

#4173 Bug Fix: Remove AutoComplete from Search Input
  Projects/Foundations/UI/Spaces/Floating-Space/ListSelector.js
Labels: Foundations

#4181 Removed accidental file contribution
  Bitcoin-Factory/Test-Client/notebooks/.ipynb_checkpoints/Bitcoin_Factory_RL-checkpoint.ipynb
Labels: Foundations

#4184 Education-Translations (Turkish) - Nodes
  Projects/Foundations/Schemas/Docs-Topics/N/Nodes/Nodes/nodes-007-node-children.json
  Projects/Foundations/Schemas/Docs-Topics/N/Nodes/Nodes/nodes-011-parent-node.json
  Projects/Foundations/Schemas/Docs-Topics/N/Nodes/Nodes/nodes-012-reference-parent.json
Labels: documentation, Education Project

#4185 Education-Translations (Turkish) - Launch Scripts
  Projects/Foundations/Schemas/Docs-Topics/L/Launch/Launch-Scripts/launch-scripts-001-launch-scripts-and-shortcuts.json
Labels: documentation, Education Project

#4187 Education-Translations (Turkish) - LF Trading Bot - Chart Data Structure
  Projects/Foundations/Schemas/Docs-Topics/L/LF/LF-Trading-Bot-Available-Data-Structures/lf-trading-bot-available-data-structures-001-lf-trading-bot-chart-data-structure.json
Labels: documentation, Education Project

#4188 Education-Translations (Turkish)
  Projects/Foundations/Schemas/Docs-Nodes/M/Market/Market-Buy-Order/market-buy-order.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Target/Target-Size-In-Base-Asset/target-size-in-base-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Target/Target-Size-In-Quoted-Asset/target-size-in-quoted-asset.json
Labels: documentation, Education Project

#4194 Trading Bot Docs Updates
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-Bot/trading-bot.json
  Projects/Foundations/Schemas/Docs-Nodes/P/Process/Process-Definition/process-definition.json
Labels: documentation, Education Project

#4202 Spelling and addition of development to do list
  Bitcoin-Factory/README.md
Labels: documentation, Foundations

#4204 Education-Translations (Turkish)
  Projects/Foundations/Schemas/Docs-Nodes/C/Condition/Condition/condition.json
  Projects/Foundations/Schemas/Docs-Nodes/J/Javascript/Javascript-Code/javascript-code.json
  Projects/Foundations/Schemas/Docs-Nodes/L/Limit/Limit-Buy-Order/limit-buy-order.json
  Projects/Foundations/Schemas/Docs-Nodes/M/Managed/Managed-Stop-Loss/managed-stop-loss.json
  Projects/Foundations/Schemas/Docs-Nodes/O/Order/Order-Rate/order-rate.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Simulated/Simulated-Actual-Rate/simulated-actual-rate.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Simulated/Simulated-Exchange-Events/simulated-exchange-events.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Simulated/Simulated-Fees-Paid/simulated-fees-paid.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Simulated/Simulated-Partial-Fill/simulated-partial-fill.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Size/Size/size.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Logic/trading-logic-001-situations-conditions-and-formulas.json
Labels: Education Project

#4205 Add create Data.Range.json file and Time.Frames.json file
  Projects/Data-Mining/TS/Bot-Modules/Indicator-Bot/FromOneMinToMultiTimeFrameMarket.js
Labels: Data Mining

#4209 Debian Based Superalgos Install Script
  Bitcoin-Factory/Launch-Script/Ubuntu+/README.md
  Bitcoin-Factory/Launch-Script/Ubuntu+/Ubuntu_SA_Installer.sh
Labels: Foundations

#4212 Network Node README update...
  Bitcoin-Factory/Dashboard/README.md
Labels: Foundations

#4214 Zeus DataMine new Docs and PNG images
  Projects/Foundations/PNGs/Docs/indicators/RSI+stochRSI.png
  Projects/Foundations/PNGs/Docs/indicators/aroon-indicator.png
  Projects/Foundations/PNGs/Docs/indicators/sqzmom.png
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-007-squeeze-momentum.json
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-008-aroon.json
  Projects/Foundations/Schemas/Docs-Topics/Z/Zeus/Zeus-Data-Mine/zeus-data-mine-009-rsi-and-stochrsi.json
Labels: documentation, Education Project
