Repository Superalgos/Superalgos, pull requests merged in 2022-05, with the labels that each got.

#4089 added multiple launch configurations for task server; added new vscode workspaces to play around;
  .vscode/Network-Node-4.code-workspace
  .vscode/TaskServer-4.code-workspace
  .vscode/TaskServer-5.code-workspace
  Bitcoin-Factory/Test-Client/notebooks/Bitcoin_Factory_RL.ipynb
  TaskServer/.vscode/launch.json
Labels: Foundations

#4096 Education-Translations (Turkish) - Trading Bot
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-Bot/trading-bot.json
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-Mine/trading-mine.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-API-Maps/plugin-api-maps.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-Data-Mines/plugin-data-mines.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-File-Position/plugin-file-position.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-File/plugin-file.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-Super-Scripts/plugin-super-scripts.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-Trading-Engines/plugin-trading-engines.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-Trading-Mines/plugin-trading-mines.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-Trading-Systems/plugin-trading-systems.json
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugin/Plugin-Tutorials/plugin-tutorials.json
Labels: documentation, Education Project

#4098 Contribution: German translation Foundation > Topic > LAN Network
  Projects/Foundations/Schemas/Docs-Nodes/L/LAN/LAN-Network-Node/lan-network-node.json
  Projects/Foundations/Schemas/Docs-Topics/L/LAN/LAN-Network/lan-network-001-lan-network-hierarchy.json
  Projects/Foundations/Schemas/Docs-Topics/L/LAN/LAN-Network/lan-network-002-organization-of-tasks.json
  Projects/Foundations/Schemas/Docs-Topics/L/LAN/LAN-Network/lan-network-003-data-tasks-section.json
  Projects/Foundations/Schemas/Docs-Topics/L/LAN/LAN-Network/lan-network-004-indicator-and-sensor-bot-instances.json
  Projects/Foundations/Schemas/Docs-Topics/L/LAN/LAN-Network/lan-network-005-testing-trading-tasks-section.json
Labels: documentation, Education Project

#4097 Education-Translations (Turkish) - API Data Fetcher Bot
  Projects/Data-Mining/Schemas/Docs-Nodes/A/API/API-Data-Fetcher-Bot/api-data-fetcher-bot.json
  Projects/Data-Mining/Schemas/Docs-Nodes/D/Data/Data-Mine/data-mine.json
  Projects/Data-Mining/Schemas/Docs-Nodes/I/Indicator/Indicator-Bot/indicator-bot.json
  Projects/Data-Mining/Schemas/Docs-Nodes/S/Sensor/Sensor-Bot/sensor-bot.json
  Projects/Education/Schemas/Docs-Nodes/D/Docs/Docs-Space-Settings/docs-space-settings.json
  Projects/Education/Schemas/Docs-Nodes/D/Docs/Docs-Space-Style/docs-space-style.json
  Projects/Education/Schemas/Docs-Nodes/T/Tutorial/Tutorial-Step/tutorial-step.json
  Projects/Education/Schemas/Docs-Nodes/T/Tutorial/Tutorial-Topic/tutorial-topic.json
  Projects/Education/Schemas/Docs-Nodes/T/Tutorial/Tutorial/tutorial.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Data-Fetcher-Bot-Instance/api-data-fetcher-bot-instance.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Data-Fetcher-Process-Instance/api-data-fetcher-process-instance.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Endpoint/api-endpoint.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Map/api-map.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Query-Response/api-query-response.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Query-Responses/api-query-responses.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Response-Field-Reference/api-response-field-reference.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Response-Field/api-response-field.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Response-Schema/api-response-schema.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Version/api-version.json
  Projects/Foundations/Schemas/Docs-Nodes/A/APIs/APIs/apis.json
  Projects/Foundations/Schemas/Docs-Nodes/A/Actual/Actual-Rate/actual-rate.json
  Projects/Foundations/Schemas/Docs-Nodes/A/Actual/Actual-Size/actual-size.json
  Projects/Foundations/Schemas/Docs-Nodes/A/Algorithm/Algorithm-Name/algorithm-name.json
  Projects/Foundations/Schemas/Docs-Nodes/A/Amount/Amount-Received/amount-received.json
  Projects/Foundations/Schemas/Docs-Nodes/A/Annualized/Annualized-Rate-Of-Return/annualized-rate-of-return.json
Labels: documentation, Education Project

#4080 Contribution: My Superalgos Review
  Projects/Foundations/Schemas/Docs-Reviews/S/Superalgos/Superalgos-Project-Review/superalgos-project-review-050-superalgos-review-review-from-3commas-user.json
Labels: documentation, Education Project

#4112 Contribution: Education-Translations (Turkish)
  Projects/Foundations/Schemas/Docs-Concepts/R/Reusable/Reusable-Snippets/reusable-snippets.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trigger/Trigger-Off-Event/trigger-off-event.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trigger/Trigger-On-Event/trigger-on-event.json
Labels: documentation, Education Project

#4122 Education-Translations (Turkish) - Back Learning Session
  Projects/Foundations/Schemas/Docs-Nodes/B/Back/Back-Learning-Session/back-learning-session.json
  Projects/Foundations/Schemas/Docs-Nodes/B/Backtesting/Backtesting-Session/backtesting-session.json
  Projects/Foundations/Schemas/Docs-Nodes/B/Balance/Balance/balance.json
  Projects/Foundations/Schemas/Docs-Nodes/B/Begin/Begin-Balance/begin-balance.json
  Projects/Foundations/Schemas/Docs-Nodes/B/Begin/Begin-Rate/begin-rate.json
  Projects/Foundations/Schemas/Docs-Nodes/B/Begin/Begin/begin.json
  Projects/Foundations/Schemas/Docs-Nodes/B/Bot/Bot-Data-Dependencies/bot-data-dependencies.json
  Projects/Foundations/Schemas/Docs-Nodes/B/Bot/Bot-Layers/bot-layers.json
  Projects/Foundations/Schemas/Docs-Nodes/B/Bot/Bot-Products/bot-products.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Calculations/Calculations-Procedure/calculations-procedure.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Cancel/Cancel-Order-Event/cancel-order-event.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Cancel/Cancel-Order/cancel-order.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Candle/Candle/candle.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Chart/Chart-Points/chart-points.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Close/Close-Execution/close-execution.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Close/Close-Order/close-order.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Close/Close-Position/close-position.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Close/Close-Stage-Event/close-stage-event.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Close/Close/close.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Condition/Condition/condition.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Create/Create-Order-Event/create-order-event.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Create/Create-Order/create-order.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Crypto/Crypto-Ecosystem/crypto-ecosystem.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Crypto/Crypto-Exchange/crypto-exchange.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Crypto/Crypto-Exchanges/crypto-exchanges.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Cycle/Cycle/cycle.json
Labels: documentation, Education Project

#4121 Added continue after error and warning of bad lines when reading CSV …
  Bitcoin-Factory/Test-Client/notebooks/Bitcoin_Factory_LSTM.py
Labels: Foundations

#4127 Contribution: Auto update Masters Trading Mine with Market installat…
  Projects/Foundations/UI/Node-Action-Functions/CryptoEcosystemFunctions.js
Labels: Foundations

#4120 Know Sure Thing indicator docs
  Projects/Data-Mining/Schemas/Docs-Nodes/A/API/API-Data-Fetcher-Bot/api-data-fetcher-bot.json
  Projects/Foundations/PNGs/Docs/indicators/Divergences-kst-divergence.png
  Projects/Foundations/PNGs/Docs/indicators/Divergences-kst-params.png
  Projects/Foundations/PNGs/Docs/indicators/Divergences-kst.png
  Projects/Foundations/Schemas/App-Schema/Api/api-response-field.json
  Projects/Foundations/Schemas/Docs-Nodes/A/API/API-Response-Field-Reference/api-response-field-reference.json
  Projects/Foundations/Schemas/Docs-Topics/C/Community/Community-Workspaces/community-workspaces-013-api-data-fetcher-bot-demo-plugin-workspace.json
  Projects/Foundations/Schemas/Docs-Topics/D/Data/Data-Mining/data-mining-014-data-mining-fetching-data-from-apis.json
  Projects/Foundations/Schemas/Docs-Topics/D/Data/Data-Mining/data-mining-019-data-mining-indicator-bots-data-mining-workflow.json
  Projects/Foundations/Schemas/Docs-Topics/D/Divergences/Divergences-Data-Mine/Divergences-data-mine-004-CCI-Divergence.json
  Projects/Foundations/Schemas/Docs-Topics/D/Divergences/Divergences-Data-Mine/divergences-data-mine-001-divergences-by-@quantum8.json
  Projects/Foundations/Schemas/Docs-Topics/D/Divergences/Divergences-Data-Mine/divergences-data-mine-013-know-sure-thing-oscillator.json
  Projects/Foundations/Schemas/Docs-Topics/T/TS/TS-API-Data-Fetcher-Bot-Error/ts-api-data-fetcher-bot-error-008-ts-api-data-fetcher-bot-error-api-endpoint-not-found.json
Labels: documentation, Education Project, Foundations

#4126 Contribution: Round-5.md Updated.
  Bitcoin-Factory/Round-5.md
Labels: Foundations

#3955 Allow 'chart' to be used at announcement conditions ; Make announcement node config show options as per documentation
  Projects/Algorithmic-Trading/TS/Bot-Modules/Trading-Bot/Low-Frequency-Trading/Snapshots.js
  Projects/Algorithmic-Trading/TS/Bot-Modules/Trading-Bot/Low-Frequency-Trading/TradingStages.js
  Projects/Social-Bots/Schemas/App-Schema/announcement.json
  Projects/Social-Bots/TS/Bot-Modules/Announcements.js
Labels: Algorithmic Trading

#4142 Added docs for Coopck curve indicator.
  Projects/Foundations/PNGs/Docs/indicators/quantum-coppock-on-the-chart.png
  Projects/Foundations/PNGs/Docs/indicators/quantum-coppock-params.png
  Projects/Foundations/Schemas/Docs-Topics/Q/quantum/quantum-Data-Mine/quantum-data-mine-017-coppock-curve-indicator.json
Labels: documentation, Education Project

#4152 Update local plugin repos with "node setupPlugins" command
  Launch-Scripts/runSetupPlugins.js
Labels: Foundations

#4151 Network Node README
  Network/README-Network-Node.md
Labels: Foundations

#4150 Superalgos #3972
  Launch-Scripts/runSetup.js
Labels: Foundations

#4155 Governance: Support for multiple report files around Bitcoin Factory Rewards
  Bitcoin-Factory/Reports/README.md
  Platform/Client/bitcoinFactoryServer.js
  Projects/Governance/Schemas/Docs-Nodes/B/Bitcoin/Bitcoin-Factory-Programs/bitcoin-factory-programs.json
  Projects/Governance/Schemas/Docs-Nodes/C/Computing/Computing-Program/computing-program.json
  Projects/Governance/UI/Spaces/User-Profile-Space/UserProfile.js
Labels: documentation, Education Project

#4158 Bitcoin Factory Test Client - Fix for broken JSON syntax
  Projects/Bitcoin-Factory/TS/Bot-Modules/Test-Client/TestClient.js
Labels: Foundations

#4160 Testing-portfolio-tasks Icon fixes
  Projects/Portfolio-Management/Icons-SVG-Sources/testing-portfolio-tasks.svg
  Projects/Portfolio-Management/Icons/testing-portfoilio-tasks.png
  Projects/Portfolio-Management/Icons/testing-portfolio-tasks.png
Labels: Foundations

#4157 Contribution: Improved Last Contribution, Loads & Checks Last File Date
  Bitcoin-Factory/Test-Client/notebooks/.ipynb_checkpoints/Bitcoin_Factory_RL-checkpoint.ipynb
  Projects/Data-Mining/TS/Bot-Modules/API-Data-Fetcher-Bot/FetchingProcess.js
Labels: Data Mining, Foundations

#4162 Contribution: Education-Translations (Turkish)
  Projects/Foundations/Schemas/Docs-Nodes/S/Situation/Situation/situation.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Take/Take-Position-Event/take-position-event.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Logic/trading-logic-002-syntax-overview.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Logic/trading-logic-003-accessing-runtime-data.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Logic/trading-logic-004-accessing-trading-system-definitions-and-session-parameters.json
Labels: documentation, Education Project

#4163 Contribution: Portfolio Management-Translations (Turkish)
  Projects/Portfolio-Management/Schemas/Docs-Nodes/P/Portfolio/Portfolio-Bot/portfolio-bot.json
  Projects/Portfolio-Management/Schemas/Docs-Nodes/T/Trading/Trading-Bot/portfolio-bot.json
  Projects/Portfolio-Management/Schemas/Docs-Nodes/T/Trading/Trading-Engine/trading-engine.json
  Projects/Portfolio-Management/Schemas/Docs-Nodes/T/Trading/Trading-Mine/trading-mine.json
Labels: documentation, Education Project
