Repository Superalgos/Superalgos, pull requests merged in 2022-07, with the labels that each got.

#4216 Create Reference List Filter not working - Fixed.
  Projects/Foundations/UI/Spaces/Floating-Space/ListSelector.js
Labels: Foundations

#4215 Bitcoi Factory Programs Icon
  Projects/Governance/Icons-SVG-Sources/bitcoin-factory-programs.svg
  Projects/Governance/Icons/bitcoin-factory-programs.png
Labels: Governance

#4219 Education-Translations (Turkish)
  Projects/Education/Schemas/Docs-Concepts/D/Dictionary/Dictionary/dictionary.json
  Projects/Education/Schemas/Docs-Concepts/T/Technical/Technical-term-overview/technical-term-overview.json
  Projects/Foundations/Schemas/Docs-Concepts/A/API/API-Server/api-server.json
  Projects/Foundations/Schemas/Docs-Nodes/D/Data/Data-Building-Procedure/data-building-procedure.json
  Projects/Foundations/Schemas/Docs-Nodes/D/Data/Data-Mines-Data/data-mines-data.json
Labels: documentation, Education Project

#4220 Spelling fixes
  Projects/Governance/UI/Function-Libraries/TokenPower.js
  Projects/Governance/UI/Utilities/DecendentProgram.js
Labels: Governance

#4224 Forecast Client bugs are fixed
  Bitcoin-Factory/Forecast-Client/README.md
  Bitcoin-Factory/Forecast-Client/notebooks/Bitcoin_Factory_LSTM_Forecasting.ipynb
  Bitcoin-Factory/Forecast-Client/notebooks/Bitcoin_Factory_LSTM_Forecasting.py
  Bitcoin-Factory/Test-Client/README.md
  Projects/Bitcoin-Factory/TS/Bot-Modules/Forecast-Client/ForecastClient.js
Labels: Foundations

#4226 Fixed Typo In Building Time Series File
  Projects/Data-Mining/TS/Bot-Modules/Indicator-Bot/FromOneMinToMultiTimeFrameMarket.js
Labels: Data Mining
