Repository Superalgos/Superalgos, pull requests merged in 2022-01, with the labels that each got.

#3596 Develop-Icons-Update
  Projects/Social-Trading/Icons/social-persona.png
  Projects/Social-Trading/Icons/social-personas.png
  Projects/User-Apps/Icons/algo-traders-platform-app.png
  Projects/User-Apps/Icons/social-trading-bot-reference.png
  Projects/User-Apps/Icons/task-server-app-reference.png
  Projects/User-Apps/Icons/task-server-app.png
  Projects/Workspaces/Icons/workspaces.png
Labels: Web App UI

#3564 Education-Translations (Turkish) (Trading Bot Layers Tutorial)
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-Engine/trading-engine.json
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-System/trading-system.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Close/Close-Stage/close-stage.json
  Projects/Foundations/Schemas/Docs-Nodes/E/Entry/Entry-Target-Rate/entry-target-rate.json
  Projects/Foundations/Schemas/Docs-Nodes/E/Episode/Episode-Base-Asset/episode-base-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/E/Episode/Episode-Quoted-Asset/episode-quoted-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/E/Exit/Exit-Target-Rate/exit-target-rate.json
  Projects/Foundations/Schemas/Docs-Nodes/F/Formula/Formula/formula.json
  Projects/Foundations/Schemas/Docs-Nodes/I/Initial/Initial-Targets/initial-targets.json
  Projects/Foundations/Schemas/Docs-Nodes/M/Manage/Manage-Stage/manage-stage.json
  Projects/Foundations/Schemas/Docs-Nodes/M/Market/Market/market.json
  Projects/Foundations/Schemas/Docs-Nodes/O/Open/Open-Stage/open-stage.json
  Projects/Foundations/Schemas/Docs-Nodes/O/Order/Order-Base-Asset/order-base-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/O/Order/Order-Quoted-Asset/order-quoted-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/O/Orders/Orders/orders.json
  Projects/Foundations/Schemas/Docs-Nodes/P/Periods/Periods/periods.json
  Projects/Foundations/Schemas/Docs-Nodes/P/Position/Position-Base-Asset/position-base-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/P/Position/Position-Quoted-Asset/position-quoted-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/P/Positions/Positions/positions.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Stage/Stage-Base-Asset/stage-base-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Stage/Stage-Quoted-Asset/stage-quoted-asset.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Strategies/Strategies/strategies.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Strategy/Strategy/strategy.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trading/Trading-Current/trading-current.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trading/Trading-Episode-Counters/trading-episode-counters.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trading/Trading-Episode/trading-episode.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trading/Trading-Strategy/trading-strategy.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trigger/Trigger-Stage/trigger-stage.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Engine/trading-engine-006-base-asset-and-quoted-asset.json
  Projects/Foundations/Schemas/Docs-Topics/T/Trading/Trading-Systems/trading-systems-007-the-manage-stage.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-010-tutorial-step-1-2-3-counting.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-011-tutorial-step-trading-bot-layers-episode-counters-01.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-012-tutorial-step-how-about-the-rest.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-013-tutorial-step-et-voilà.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-014-tutorial-step-compartmentalize-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-015-tutorial-step-elephant-what-elephant.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-016-tutorial-step-making-sense-of-objects.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-017-tutorial-step-what-about-the-position.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-018-tutorial-step-the-beauty-of-the-triangle.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-019-tutorial-step-why-3-position-layers.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-020-tutorial-step-remember-flexibility.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-021-tutorial-step-phased-management.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-022-tutorial-step-orders-in-order.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-023-tutorial-step-stages-time.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-024-tutorial-step-episode-x.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-025-tutorial-step-understanding-objects-data.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-026-tutorial-step-daily-files-vs.-market-files.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-027-tutorial-step-bring-me-back-to-earth.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-028-tutorial-topic-trading-system-layers.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-029-tutorial-step-trading-system-errors.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-030-tutorial-step-trading-system-highlights.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-031-tutorial-step-trading-bot-layers-trading-system-highlights.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-032-tutorial-step-quick-refresher-on-stages.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-033-tutorial-step-trading-system-values.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-034-tutorial-step-the-rest-of-the-crew.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-035-tutorial-step-time-to-go-out-and-play.json
Labels: documentation, Education Project

#3608 Contribution: (Translation into german and small addition: "How to Contribute to the Docs")
  Projects/Education/Schemas/Docs-Nodes/D/Docs/Docs-Space-Style/docs-space-style.json
  Projects/Foundations/Schemas/Docs-Topics/C/Contributing/Contributing-to-Superalgos/contributing-to-superalgos-004-how-to-contribute-to-the-docs.json
Labels: documentation, Education Project

#3611 Education-Translations (Turkish) - Chapter XI - Setting Up a New Chart
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-001-setting-up-a-new-chart-tutorial.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-002-tutorial-step-welcome-to-the-otherside.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-003-tutorial-step-before-we-begin.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-004-tutorial-step-charts-without-tears.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-005-tutorial-step-basic-building-blocks.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-006-tutorial-step-charting-workspace-setup.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-007-tutorial-step-adjust-for-your-exchange.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-008-tutorial-step-charting-workspace-market.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-009-tutorial-step-your-first-chart.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-010-tutorial-step-dashing-dashboards.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-011-tutorial-step-dashboards-in-the-future.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-012-tutorial-step-magical-machines.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-013-tutorial-step-keep-it-in-one-place.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-014-tutorial-step-without-further-ado.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-015-tutorial-step-add-a-time-machine.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-016-tutorial-step-the-three-scales.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-017-tutorial-step-chart-spawning.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-018-tutorial-step-i-see-a-chart.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-019-tutorial-step-add-a-timeline-chart.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-020-tutorial-step-why-is-it-blank.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-021-tutorial-step-empty-layer-manager.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-022-tutorial-step-the-chart-of-many-talents.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-023-tutorial-step-herding-layers.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-024-tutorial-step-your-data-treasure-trove.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-025-tutorial-step-follow-the-tree.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-026-tutorial-step-the-data-you-want-to-see.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-027-tutorial-step-link-chart-to-data-products.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-028-tutorial-step-make-the-connection.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-029-tutorial-step-add-the-layers.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-030-tutorial-step-verify-the-layers.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-031-tutorial-step-it’s-alive.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-032-tutorial-step-link-chart-to-trading-system.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-033-tutorial-step-connection-one.json
Labels: documentation, Education Project

#3617 Contribution: Education - Translation into german of: "Chapter II - Buddha Data Mine"
  Projects/Foundations/Schemas/Docs-Topics/B/Buddha/Buddha-Data-Mine/buddha-data-mine-001-candle-patterns-buddah-indicator.json
Labels: documentation, Education Project

#3633 Education-Translations (Turkish) (Creating Your User Profile Tutorial)
  Projects/Foundations/Schemas/Docs-Concepts/C/Community/Community/community.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Superalgos/Superalgos-Project/superalgos-project.json
  Projects/Foundations/Schemas/Docs-Concepts/S/Superalgos/Superalgos-SA-Token/superalgos-sa-token.json
  Projects/Foundations/Schemas/Docs-Topics/C/Community/Community-Workspaces/community-workspaces-002-getting-started-tutorials-plugin-workspace.json
  Projects/Foundations/Schemas/Docs-Topics/R/Repository/Repository-Branches/repository-branches-003-develop.json
  Projects/Governance/Schemas/Docs-Concepts/T/Token/Token-Power-Flows/token-power-flows.json
  Projects/Governance/Schemas/Docs-Concepts/T/Token/Token-Power/token-power.json
  Projects/Governance/Schemas/Docs-Nodes/G/Governance/Governance-Project/governance-project.json
  Projects/Governance/Schemas/Docs-Nodes/U/User/User-Profile/user-profile.json
  Projects/Governance/Schemas/Docs-Topics/I/Introduction/Introduction-to-Governance/introduction-to-governance-003-governance-programs.json
  Projects/Governance/Schemas/Docs-Tutorials/C/Creating/Creating-Your-User-Profile-Tutorial/creating-your-user-profile-tutorial-001-creating-your-user-profile-tutorial.json
Labels: documentation, Education Project

#3624 Contribution: Education - Translation - Ru - Chapter VIII - Testing a Trading Idea - The Trigger Stage
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-035-tutorial-step-lets-see-what-weve-got.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-037-tutorial-step-cant-see-whats-expected.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-039-tutorial-step-look-at-the-26th.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-040-tutorial-step-keep-looking.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-041-tutorial-step-troubleshooting-101.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-042-tutorial-step-lets-hunt-for-errors.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-043-tutorial-step-errors-time.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-044-tutorial-step-error-details.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-045-tutorial-step-errors-nodes.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-046-tutorial-step-trading-systems-tracking-errors.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-047-tutorial-step-deciphering-errors.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-048-tutorial-step-lets-unpack-this-error.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-049-tutorial-step-counting-candles.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-050-tutorial-step-lesson-learned.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-051-tutorial-step-highlights-and-values.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-052-tutorial-step-a-note-on-event-evaluation.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-053-tutorial-step-the-land-of-confusion.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-054-tutorial-step-the-time-frame-mystery.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-055-tutorial-step-what-am-i-missing.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-056-tutorial-step-free-as-a-bird.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-057-tutorial-step-take-position-event..json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-058-tutorial-step-candle-properties.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-059-tutorial-step-a-close-below-the-bands.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-060-tutorial-step-one-more-detail.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-061-tutorial-step-lets-break-it-down.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-062-tutorial-step-lets-define-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-063-tutorial-step-the-second-close.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-064-tutorial-step-the-previous-close.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-065-tutorial-step-the-previous-property.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-066-tutorial-step-second-backtest.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-067-tutorial-step-lets-do-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-068-tutorial-step-lets-get-on-the-same-page.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-069-tutorial-step-trading-systems-second-backtest.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-070-tutorial-step-what-do-we-have-here.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-071-tutorial-step-take-position-event.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-072-tutorial-step-find-the-error-challenge.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-073-tutorial-step-target-rate-error.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-074-tutorial-step-radical-workaround.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-075-tutorial-step-lets-test-again.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-076-tutorial-step-are-errors-gone.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-077-tutorial-step-trading-systems-third-backtest.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-078-tutorial-step-lets-take-a-closer-look.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-079-tutorial-step-trigger-on-conditions.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-080-tutorial-step-take-position-conditions.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-081-tutorial-step-a-little-speculation-game.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-082-tutorial-step-trading-systems-candles-panel.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-083-tutorial-step-not-so-great-right.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-084-tutorial-step-lets-wrap-it-up.json
Labels: documentation, Education Project

#3634 added review
  Projects/Foundations/Schemas/Docs-Reviews/S/Superalgos/Superalgos-Project-Review/superalgos-project-review-049-the-most-comprehensive-bot-framework-you-will-be-able-to-find.json
Labels: documentation

#3647 Education-Translations (Turkish) - Chapter XI - Setting Up a New Chart
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-034-tutorial-step-back-to-data-storage.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-035-tutorial-step-another-timeline-chart.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-036-tutorial-step-connection-two.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-037-tutorial-step-don’t-forget-the-layers.json
Labels: documentation, Education Project

#3648 Education-Translations (Turkish) - Chapter XI - Setting Up a New Chart Finished
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-038-tutorial-step-check-the-chart.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-039-tutorial-step-not-seeing-anything.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-040-tutorial-step-easy-as-1-2-3.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-041-tutorial-step-before-i-go.json
Labels: documentation, Education Project

#3632 Contribution: (small correction at: Docs Page Category )
  Projects/Foundations/Schemas/Docs-Concepts/R/Reusable/Reusable-Snippets/reusable-snippets.json
  Projects/Foundations/Schemas/Docs-Nodes/D/Design/Design-Space/design-space.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Space/Space-Settings/space-settings.json
  Projects/Foundations/Schemas/Docs-Topics/D/Design/Design-Space/design-space-001-design-space-hierarchy.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Basics/docs-basics-003-docs-page-category.json
Labels: documentation, Education Project

#3654 Contribution: The art of documenting WIP
  Projects/Foundations/Schemas/Docs-Books/the-docs-explained.json
  Projects/Foundations/Schemas/Docs-Nodes/L/LAN/LAN-Network-Node/lan-network-node.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trading/Trading-Bot-Instance/trading-bot-instance.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Basics/docs-basics-001-docs-intro.json
  Projects/Foundations/Schemas/Docs-Topics/D/Docs/Docs-Paragraph-Styles/docs-paragraph-styles-022-docs-block-style.json
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-002-documenting-new-projects.json
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-003-definition-pages.json
Labels: documentation, Education Project

#3655 Contribution: Documenting WIP
  Projects/Foundations/Schemas/Docs-Concepts/R/Reusable/Reusable-Documenting-Snippets/reusable-documenting-snippets.json
  Projects/Foundations/Schemas/Docs-Concepts/R/Reusable/Reusable-Snippets/reusable-snippets.json
  Projects/Foundations/Schemas/Docs-Topics/C/Contributing/Contributing-to-Superalgos/contributing-to-superalgos-004-how-to-contribute-to-the-docs.json
  Projects/Foundations/Schemas/Docs-Topics/C/Contributing/Contributing-to-Superalgos/contributing-to-superalgos-006-how-to-contribute-tutorials.json
  Projects/Foundations/Schemas/Docs-Topics/R/Repository/Repository-Branches/repository-branches-004-plugins-docs.json
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-001-general-notions-on-documenting.json
Labels: documentation, Education Project

#3641 Contribution: Education - Translation - Ru - Chapter I - Welcome to Superalgos! - 81-116
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-002-tutorial-the-other-stages.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-003-tutorial-step-taking-a-position.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-004-tutorial-step-initial-targets..json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-005-tutorial-step-look-around.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-006-tutorial-step-the-target-rate.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-007-tutorial-step-how-do-we-go-about-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-008-tutorial-step-the-target-size.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-009-tutorial-step-the-whole-balance.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-010-tutorial-step-initial-balance-vs.-balance.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-011-tutorial-step-its-the-balance.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-012-tutorial-step-there-it-is.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-013-tutorial-step-copy-the-nodes-path.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-014-tutorial-step-circling-back.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-015-tutorial-step-time-to-talk-execution.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-016-tutorial-step-lets-do-some-reading.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-017-tutorial-step-execution-algorithm.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-018-tutorial-step-market-sell-orders.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-019-tutorial-step-100-of-100-=-.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-020-tutorial-step-create-order-event.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-081-tutorial-step-simplifying-complexity.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-082-tutorial-step-lets-take-a-peek..json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-083-tutorial-step-find-the-node-challenge.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-084-tutorial-step-found-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-085-tutorial-step-the-coolest-trick.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-086-tutorial-step-welcome-backtesting-trading-engine-visualization-01.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-087-tutorial-step-feedback-loops.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-088-tutorial-step-welcome-backtesting-trading-engine-visualization-02.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-089-tutorial-step-enough-chit-chat.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-090-tutorial-step-disclaimer.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-091-tutorial-step-lets-start-with-100-bucks.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-092-tutorial-step-check-your-spot-balance.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-093-tutorial-step-enjoy-the-outdoors.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-094-tutorial-step-your-keys-your-coins.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-095-tutorial-step-fire-up-the-machine.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-096-tutorial-step-are-we-ready-yet.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-097-tutorial-step-lets-do-this.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-098-tutorial-step-welcome-live-trading-process-progress.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-099-tutorial-step-check-your-console.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-1.1-tutorial-step-lets-start-with-10-bucks.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-100-tutorial-step-welcome-live-trading-console.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-101-tutorial-step-is-it-working.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-102-tutorial-step-welcome-live-trading-binance-orders.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-103-tutorial-step-monitoring-the-fun-way.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-104-tutorial-step-whats-next.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-105-tutorial-step-three-minutes-to-play.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-106-tutorial-step-what-else-is-cooking.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-107-tutorial-step-spread-the-word-on-twitter.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-108-tutorial-step-back-to-work.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-109-tutorial-step-tabbed-search-results.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-110-tutorial-step-a-couple-more-things.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-111-tutorial-step-help-us-with-a-star.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-112-tutorial-step-get-in-touch.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-113-tutorial-step-beware-of-impersonators.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-114-tutorial-step-ready-for-more-tutorials.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-115-tutorial-step-about-our-governance.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-116-tutorial-step-my-only-friend-the-end.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-6.2-tutorial-step-ultimate-social-trading.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-7.1-tutorial-step-buy-the-token.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-8.1-tutorial-step-welcome-ascendex-live-trading-process-progress.json
Labels: documentation, Education Project

#3651 Contribution: German translation Algorithmic Trading > Nodes > Trading
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-Bot/trading-bot.json
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-Engine/trading-engine.json
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-Mine/trading-mine.json
  Projects/Algorithmic-Trading/Schemas/Docs-Nodes/T/Trading/Trading-System/trading-system.json
Labels: documentation, Education Project

#3661 Education-Translations (Turkish) - Chapter XIII Developers Intro Tutorial
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-001-tutorial-intro-for-developers.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-002-tutorial-topic-system-architecture.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-004-tutorial-topic-client.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-005-tutorial-step-web-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-006-tutorial-step-web-sockets-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-007-tutorial-step-events-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-008-tutorial-step-task-manager-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-009-tutorial-topic-task-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-010-tutorial-topic-frontend.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-011-tutorial-topic-canvas-app.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-012-tutorial-step-canvas-animation.json
Labels: documentation, Education Project

#3680 Contribution: German translation Community Plugins > Node > Plugins and Data Mining > Nodes > Data Mine
  Projects/Community-Plugins/Schemas/Docs-Nodes/P/Plugins/Plugins/plugins.json
  Projects/Data-Mining/Schemas/Docs-Nodes/D/Data/Data-Mine/data-mine.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Charting/Charting-Space/charting-space.json
  Projects/Foundations/Schemas/Docs-Nodes/C/Crypto/Crypto-Ecosystem/crypto-ecosystem.json
  Projects/Foundations/Schemas/Docs-Nodes/E/Execution/Execution-Algorithm/execution-algorithm.json
  Projects/Foundations/Schemas/Docs-Nodes/F/Formula/Formula/formula.json
  Projects/Foundations/Schemas/Docs-Nodes/O/Open/Open-Stage/open-stage.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Sensor/Sensor-Bot-Instance/sensor-bot-instance.json
  Projects/Foundations/Schemas/Docs-Nodes/S/Situation/Situation/situation.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trading/Trading-Strategy/trading-strategy.json
Labels: documentation, Education Project

#3678 Contribution: Education - Translation - Ru - Chapter IX - Testing a Trading Idea - The Other Stages
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-021-tutorial-step-simulated-exchange-events.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-022-tutorial-step-close-stage-event.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-023-tutorial-step-back-to-the-order.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-024-tutorial-step-heres-the-thing.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-025-tutorial-step-its-all-about-references.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-026-tutorial-step-the-tricks-of-the-trade.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-027-tutorial-step-position-management.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-028-tutorial-step-phase-1.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-029-tutorial-step-managed-stop-loss.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-030-tutorial-step-entry-target-rate.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-031-tutorial-step-managed-take-profit.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-032-tutorial-step-closing-a-position.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-033-tutorial-step-initial-targets.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-034-tutorial-step-how-to-find-stuff.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-035-tutorial-step-and-the-winner-is..json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-036-tutorial-step-target-size-in-quoted-asset.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-037-tutorial-step-market-buy-order.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-038-tutorial-step-this-is-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-039-tutorial-step-were-almost-done.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-040-tutorial-step-first-backtest.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-041-tutorial-step-ready-to-rock..json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-042-tutorial-step-trading-systems-position.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-043-tutorial-step-the-first-position.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-044-tutorial-step-chronology-of-a-position.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-045-tutorial-step-manage-and-close.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-046-tutorial-step-time-frame-matters.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-047-tutorial-step-warning.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-048-tutorial-step-confusing.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-049-tutorial-step-slippage.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-050-tutorial-step-actual-size.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-051-tutorial-step-size-placed.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-052-tutorial-step-order-management.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-053-tutorial-step-back-to-the-position.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-054-tutorial-step-the-key-moment.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-055-tutorial-step-march-18th.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-056-tutorial-step-march-28th-april-1st.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-057-tutorial-step-sep-5th-sep-14th.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-058-tutorial-step-the-prediction-game.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-059-tutorial-step-is-there-room-for-nuance.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-060-tutorial-step-what-is-the-nuance.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-061-tutorial-step-whats-next..json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Other-Stages/testing-a-trading-idea-the-other-stages-062-tutorial-step-in-the-mean-time.json
Labels: documentation, Education Project

#3688 German translation Foundations > Nodes > Condition, Trigger
  Projects/Foundations/Schemas/Docs-Nodes/C/Condition/Condition/condition.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trigger/Trigger-Off-Event/trigger-off-event.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trigger/Trigger-Off/trigger-off.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trigger/Trigger-On-Event/trigger-on-event.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trigger/Trigger-On/trigger-on.json
  Projects/Foundations/Schemas/Docs-Nodes/T/Trigger/Trigger-Stage/trigger-stage.json
  Projects/Foundations/Schemas/Docs-Topics/B/Bollinger/Bollinger-Data-Mine/bollinger-data-mine-001-bollinger-by-@luis_fernando_molina.json
  Projects/Foundations/Schemas/Docs-Topics/B/Bollinger/Bollinger-Data-Mine/bollinger-data-mine-002-bollinger-bands-bb-b-bollinger-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/B/Bollinger/Bollinger-Data-Mine/bollinger-data-mine-003-bollinger-channels-bollinger-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/C/Candles/Candles-Data-Mine/candles-data-mine-001-candles-by-@luis_fernando_molina.json
  Projects/Foundations/Schemas/Docs-Topics/C/Candles/Candles-Data-Mine/candles-data-mine-002-candles-volumes-candles-indicator.json
Labels: documentation, Education Project

#3694 German translation Foundation > Nodes > Open Execution / Topics > How…
  Projects/Foundations/Schemas/Docs-Nodes/O/Open/Open-Execution/open-execution.json
  Projects/Foundations/Schemas/Docs-Topics/H/How/How-To/how-to-001-detach-and-attach-nodes.json
  Projects/Foundations/Schemas/Docs-Topics/I/Introduction/Introduction/introduction-001-fundamental-superalgos-concepts.json
  Projects/Foundations/Schemas/Docs-Topics/I/Introduction/Introduction/introduction-002-bots-in-superalgos.json
  Projects/Foundations/Schemas/Docs-Topics/I/Introduction/Introduction/introduction-003-hierarchies.json
  Projects/Foundations/Schemas/Docs-Topics/I/Introduction/Introduction/introduction-004-workflows.json
  Projects/Foundations/Schemas/Docs-Topics/I/Introduction/Introduction/introduction-005-workspaces.json
  Projects/Foundations/Schemas/Docs-Topics/I/Introduction/Introduction/introduction-006-nodes-and-structures-of-nodes.json
  Projects/Foundations/Schemas/Docs-Topics/I/Introduction/Introduction/introduction-007-references.json
Labels: documentation, Education Project

#3673 Contribution: (small typo fixed: "General Notions on Documenting")
  Projects/Foundations/Schemas/Docs-Topics/T/The/The-Art-of-Documenting/the-art-of-documenting-001-general-notions-on-documenting.json
Labels: documentation, Education Project

#3707 Education-Translations (Turkish) - Chapter XIII Developers Intro Tutorial Finished
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-013-tutorial-step-charting-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-014-tutorial-step-design-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-015-tutorial-step-floating-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-016-tutorial-step-side-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-017-tutorial-step-docs-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-018-tutorial-step-tutorial-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-019-tutorial-step-panel-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-020-tutorial-topic-files-component.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-021-tutorial-topic-parting-thoughts..json
Labels: documentation, Education Project

#3708 Education-Translations (Turkish) - Chapter I - Alpha Data Mine
  Projects/Foundations/Schemas/Docs-Topics/A/Alpha/Alpha-Data-Mine/alpha-data-mine-001-alpha-by-@rico4dev.json
  Projects/Foundations/Schemas/Docs-Topics/A/Alpha/Alpha-Data-Mine/alpha-data-mine-002-average-true-range-atr-alpha-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/A/Alpha/Alpha-Data-Mine/alpha-data-mine-003-rate-of-change-roc-alpha-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/A/Alpha/Alpha-Data-Mine/alpha-data-mine-004-stochastic-alpha-indicator.json
Labels: documentation, Education Project

#3709 Contribution: Education - Translation - Ru - Chapter X - Install a New Market.
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-001-install-a-new-market-tutorial.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-002-tutorial-install-a-new-market.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-003-tutorial-topic-add-the-assets.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-004-tutorial-step-add-the-assets-1.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-005-tutorial-step-add-the-assets-2.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-006-tutorial-step-add-the-assets-3.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-007-tutorial-topic-set-up-the-market.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-008-tutorial-step-set-up-the-market-1.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-009-tutorial-step-set-up-the-market-2.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-010-tutorial-step-set-up-the-market-3.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-011-tutorial-step-set-up-the-market-4.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-012-tutorial-topic-install-the-market.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-013-tutorial-topic-network-verification.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-014-tutorial-step-network-verification-1.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-015-tutorial-step-network-verification-2.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-016-tutorial-step-network-verification-3.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-017-tutorial-step-network-verification-4.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-018-tutorial-topic-charts-verification.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-019-tutorial-step-charts-verification-1.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-020-tutorial-step-charts-verification-2.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Install/Install-a-New-Market/install-a-new-market-021-tutorial-topic-you-made-it.json
Labels: documentation, Education Project

#3713 Contribution: Education - Translation - Ru - Data Mines - Chapter I - II
  Projects/Foundations/Schemas/Docs-Topics/A/Alpha/Alpha-Data-Mine/alpha-data-mine-001-alpha-by-@rico4dev.json
  Projects/Foundations/Schemas/Docs-Topics/A/Alpha/Alpha-Data-Mine/alpha-data-mine-002-average-true-range-atr-alpha-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/A/Alpha/Alpha-Data-Mine/alpha-data-mine-003-rate-of-change-roc-alpha-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/A/Alpha/Alpha-Data-Mine/alpha-data-mine-004-stochastic-alpha-indicator.json
  Projects/Foundations/Schemas/Docs-Topics/B/Buddha/Buddha-Data-Mine/buddha-data-mine-001-candle-patterns-buddah-indicator.json
Labels: documentation, Education Project

#3672 New try to get these changes committed (Translations - one file deleted and replaced)
  Projects/Foundations/Schemas/Docs-Tutorials/A/Aggregate/Aggregate-data-from-different-Exchanges-in-a-Chart-/aggregate-data-from-different-exchanges-in-a-chart-001-combine-exchanges-in-a-chart-tutorial.json
  Projects/Foundations/Schemas/Docs-Tutorials/A/aggregate-data-from-different-exchanges-in-a-chart/aggregate-data-from-different-exchanges-in-a-chart-001-combine-exchanges-in-a-chart-tutorial.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-003-tutorial-step-from-the-ground-up.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Basic/Basic-Education/basic-education-027-tutorial-step-lets-get-on-with-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Beyond/Beyond-the-Basics/beyond-the-basics-001-beyond-the-basics-tutorial.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Beyond/Beyond-the-Basics/beyond-the-basics-011-tutorial-step-double-trouble.json
  Projects/Foundations/Schemas/Docs-Tutorials/B/Beyond/Beyond-the-Basics/beyond-the-basics-014-tutorial-step-update-the-app.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-001-tutorial-intro-for-developers.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-002-tutorial-topic-system-architecture.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-004-tutorial-topic-client.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-005-tutorial-step-web-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-006-tutorial-step-web-sockets-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-007-tutorial-step-events-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-008-tutorial-step-task-manager-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-009-tutorial-topic-task-server.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-010-tutorial-topic-frontend.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-011-tutorial-topic-canvas-app.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-012-tutorial-step-canvas-animation.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-013-tutorial-step-charting-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-014-tutorial-step-design-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-015-tutorial-step-floating-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-016-tutorial-step-side-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-017-tutorial-step-docs-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-018-tutorial-step-tutorial-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-019-tutorial-step-panel-space.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-020-tutorial-topic-files-component.json
  Projects/Foundations/Schemas/Docs-Tutorials/D/Developers/Developers-Intro/developers-intro-021-tutorial-topic-parting-thoughts..json
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-002-tutorial-step-welcome.json
  Projects/Foundations/Schemas/Docs-Tutorials/H/Hello/Hello-World-Tutorial/hello-world-tutorial-003-tutorial-step-look-around.json
  Projects/Foundations/Schemas/Docs-Tutorials/I/Intro/Intro-to-Trading-Systems/intro-to-trading-systems-016-tutorial-step-ready-for-the-next-one.json
  Projects/Foundations/Schemas/Docs-Tutorials/S/Setting/Setting-Up-a-New-Chart/setting-up-a-new-chart-006-tutorial-step-charting-workspace-setup.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-035-tutorial-step-lets-see-what-weve-got.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Testing/Testing-a-Trading-Idea-The-Trigger-Stage/testing-a-trading-idea-the-trigger-stage-037-tutorial-step-cant-see-whats-expected.json
  Projects/Foundations/Schemas/Docs-Tutorials/T/Trading/Trading-Bot-Layers/trading-bot-layers-029-tutorial-step-trading-system-errors.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-007-tutorial-step-lets-go-for-a-ride.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-008-tutorial-step-remote-access.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-010-tutorial-step-accessing-remotely.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-013-tutorial-step-binance.com-or-binance.us.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-017-tutorial-step-how-are-things-going.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-024-tutorial-step-need-a-quick-reminder.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-026-tutorial-step-broke-something.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-028-tutorial-step-ok.-back-to-work.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-030-tutorial-step-at-the-core-of-data-mining.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-032-tutorial-step-time-to-stop.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-038-tutorial-step-bending-time.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-057-tutorial-step-the-hard-data.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-061-tutorial-step-plotters-magic.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-063-tutorial-step-aim-high-trade-big.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-065-tutorial-step-civil-works-ahead.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-084-tutorial-step-found-it.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-095-tutorial-step-fire-up-the-machine.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-101-tutorial-step-is-it-working.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-112-tutorial-step-get-in-touch.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-116-tutorial-step-my-only-friend-the-end.json
  Projects/Foundations/Schemas/Docs-Tutorials/W/Welcome/Welcome-to-Superalgos/welcome-to-superalgos-7.1-tutorial-step-buy-the-token.json
Labels: documentation, Education Project

#3711 Small change in german translation
  Projects/Foundations/Schemas/Docs-Books/user-manual.json
Labels: documentation, Education Project
